.bg {
	background-image: url('http://112.74.50.192/static/login_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 13rem;
	text-align: center;
}

.login-box {
    height: 4rem;
    width: 5rem;
    background-color: #fff;
    border: .04rem solid #00bfad;
    position: absolute;
    top: 4rem;
    left: 1.2rem;
}

.title {
	height: 0.6rem;
	background-color: rgb(247,251,251);
	font-size: larger;
	padding-top: 0.1rem;
}

.area {
	height:2.5rem;
}

#loginName,#passWord {
    width: 4rem;
    height: 0.5rem;
    border: 1px solid #eee;
    margin: 0.2rem;
}

#btn {
	width: 4rem;
	height: 0.5rem;
    border: 1px solid #eee;
    background-color: #00bfad;
}

.area2 {
	width: 4rem;
	height: 0.5rem;
	margin: 0.2rem auto;
}
