.row-container {
  padding: 0.08rem 0.16rem;
  background-color: rgb(245,245,245);
}

.row-container p {
  margin-top: 0.2rem;
  margin-bottom: 0;
  text-align: left;
}

.row-container .float-line {
  line-height: 48px;
  position: relative;
}

.row-container .float-line .item {
  display: block;
  float:left;
}

.row-container .answerer-icon {
  margin-right: 0.4rem;
}
.row-container .len {
  line-height: .9rem;
  height: .9rem;
  margin-right: 0.4rem;
}